section {
    float: left;
    width: 30%;
}

aside {
    float: right;
    width: 70%;
}

h3 {
    margin: 10px;
}

.output {
    background-color: #f0f0f0;
    border-radius: 0.75em;
    display: block;
    padding: 10px;
}